<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <ResultsDirectory>TestResults</ResultsDirectory>
  </RunConfiguration>
  <MSTest>
    <CaptureTraceOutput>true</CaptureTraceOutput>
  </MSTest>
  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="Console" enabled="True">
        <Configuration>
          <Verbosity>detailed</Verbosity>
        </Configuration>
      </Logger>
    </Loggers>
  </LoggerRunSettings>
</RunSettings>
